
.car-1 img {
    float: right;
    position: absolute;
    top: 0px;
    right: 0px;
}
.car {
   position: absolute;
   top: 0px;
   left: 0px;
    
}

footer {
    clear: right;
    width: 960px;
    padding: 0px 15px 0px 15px;
}
.logo img {
    position: absolute;
    top: 76px;
    left: 150px;
    width: 131.203px;
    height: 40px;
}
.one {
    font-size: 25px;
    font-family:'Futura PT W01 Book';
}
.two{
    font-family:'Futura PT W01 Demi';
    font-size: 42px;
    line-height: .9;
    display: inline-block;
    margin-top: 12px;
}
.yellow {
    background-color: #ffc700;
    height: 3px;
    width: 100%;
    margin: 30px 0px 15px;
}
.zi {
    position: absolute;
    top: 200px;
    left: 150px;
    color: aliceblue;
    line-height: .8;
    margin-bottom: 100px;

}
.three {    
    color: inherit;
    font-family: 'Futura PT W01 Light';
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 1;
    margin: 0px 0px 30px;
}
.four {
    font-weight: 400;
    color: #333e48;
    border-color: #ffc700;
    border-radius: 40px;
    border-style: solid;
    border-width: 3px;
    padding: 10px 50px;
    background-color: #ffc700;
    margin: 0px;
    font-size: 20px;
    font-style: normal;
    position: relative;
    text-align:center;
    display: inline-flex;
    box-sizing:border-box;
}
.main {
    padding-top: 90px;
    padding-bottom: 45px;                                        
    margin: 0 auto;
    position: absolute;
    top: 690px;
    left: 225px;                                      
    color:#333e48;
    max-width: 60rem;
    width:960px;
    height: 844px;
    margin: 0 66.333px;
}
.contect1 {
    margin-bottom: 0rem;
    background-position-x: 50%;
    background-position-y: 50%;
    box-sizing: border-box;
    display: block;
    clear: both;
    text-align: center;
    padding: 0 15px;
}
.a {
    font-size: 48px;
    line-height: 1.25;
    margin: 0 0 30px;
    text-align: center !important;
    margin-bottom: 30px;
    display: block;

}
    
.b {
    margin-bottom: 30px;
    font-size: 16px;
    font-style: normal;
    letter-spacing: .5px;
    text-align: center !important;   
    font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
    display: block;
    letter-spacing: .5px;
    margin-bottom: 1em; 
    font-weight: inherit;
    line-height: inherit;
    display: block;
    width: 1000px;
    height: 60px;
}
.c1 {
    padding: 0px 15px;
    margin-bottom: 25px;
    width: 500px;
    height: 519px;
    display: inline-block;
    text-align: center;
}
.c1-1{
    padding: 38px 50px;

}
.picture1 {
    margin-bottom: 40px;
}
.picture1 img {
    width: 150px;
    height: 150px;
}
h1 {
    margin-bottom: 10px;
    margin-top: 0px;
    text-align:center;
    font-size: 19px;
    font-weight: 700;
    letter-spacing: 1px;
    line-height: 1.3;
    display: block;
}
h2 {
    margin-bottom: 15px;
    margin-top: 0px;
    font-size: 28px;
    font-weight: 300;
    text-align:center;
    line-height: 1.2;
    display: block;
}
.c1-2 {
    margin-bottom: 15px;
    display: block;
    text-align: center;
    flex: 1 1 auto;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.65;
    margin: 0 0 15px;
    max-width: 480px;
    width: 100%;

}
p {
    color: inherit;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.65;
    letter-spacing: .5px;
    text-align: center;
    font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
    
}
.zong {
    margin: 0 0 30px;
    text-align: center;
    width: 1050px;
    height: 616px;
    position: absolute;
    top: 320px;
}
.zong-1{
    width: auto;
    max-width: none;
    height: inherit;
    text-align: center;
    display: table;
    clear: both;
    padding: 0 0 15px;
    margin: -50px;
    padding: 0px;
}
.c2{
    padding: 0 15px 0 15px;
    margin: 0 0 25px;
    float: right;
    width: 500px;
    height: 519px;
    text-align: center;
    display: inline-block;
}
.c2-1 {
    padding: 38px 50px 38px 50px;
    float: right;
}
.picture2 {
    margin-bottom: 40px;
}
.picture2 img {
    width: 150px;
    height: 150px;
}
h3 {
    font-size: 19px;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 0 0 10px;
    line-height: 1.3;
    display: block;
    color: #333e48;
    text-align: center;
    box-sizing: border-box;
}
h4 {
    font-size: 28px;
    font-weight: 300;
    margin: 0 0 15px;
    width: 100%;
    line-height: 1.2;
    color: #333e48;
    text-align: center;
    display: block;
}
.c2-2 {
    display: block;
    text-align: center;
    flex: 1 1 auto;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.65;
    margin: 0 0 15px;
    max-width: 480px;
    width: 100%;
}
.dhl {
    background-color: #fff;
    width: 90px; 
    height: 6000px;
    position: absolute;
    top: 0px;
    left: 0px;
    box-shadow: 0px 0px 2px 2px rgba(54, 54, 54, 0.15);

}
.p-1{
    color:#6f787c;
    font-size: 12px;
    line-height: 1.25;
    padding: 0 15%;
    max-width: 100%;
    display: block;
    text-align: center;
    margin: 0px;
    padding: 0px;

}
.p-2{
    color:#6f787c;
    font-size: 12px;
    line-height: 1.25;
    padding: 0 15%;
    text-align: center;
    margin: 0px;
    padding: 0px;
}
.p-3{
    color:#6f787c;
    font-size: 12px;
    line-height: 1.25;
    padding: 0 15%;
    text-align: center;
    margin: 0px;
    padding: 0px;
}
.p-4{
    color:#6f787c;
    font-size: 12px;
    line-height: 1.25;
    padding: 0 15%;
    text-align: center;
    display: block;
    margin: 0px;
    padding: 0px;
}

.p-5{
    color:#6f787c;
    font-size: 12px;
    line-height: 1.25;
    padding: 0 15%;
    text-align: center;
    margin: 0px;
    padding: 0px;
}
.p-6{
    color:#6f787c;
    font-size: 12px;
    line-height: 1.25;
    padding: 0 15%;
    text-align: center;
    margin: 0px;
    padding: 0px;
}
.products {
    margin-bottom: 3px;
}
.products img {
    width: 30px;
    height: 30px;
    display: block;
    padding: 0 0 0 30px;
}
.solutions {
    margin-bottom: 3px;
} 
.solutions img{
    width: 27px;
    height: 27px;
    padding: 0 0 0 31.5px;
    display: block;
}
.whyarm {
    margin-bottom: 3px;
}
.whyarm img {
    width: 27px;
    height: 27px;
    padding: 0 0 0 31.5px;
    display: block;
}
.support {
    margin-bottom: 3px;
}
.resources {
    margin-bottom: 3px;
}
.company {
    margin-bottom: 3px;
}

.arm img {
    width: 55px;
    height: 17px;
    margin-top: 40px;
    margin-bottom: 5px;
}
.arm {
    text-align: center;
}
.q {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}
.important{
    background-color: rgba(0, 0, 0, 0.25);
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    z-index: 50px;
    height: 142px;
    

}
.im-1 {
    background-color: #fff;
    border: 8px solid rgba(0, 0, 0, 0.25);
    display: block;
    position: relative;
    width: auto;
    font-size: .7rem;
    widows: 960px;
    height: 94px;
    padding: 16px 0 16px 0;
}
.row {
    max-width: 60rem;
    height: inherit;
    margin: 0 auto;
    width: 100%;
    clear: both;

}
.text {
    font-size: inherit;
    margin: 0px;
    letter-spacing: .5px;
    line-height: 1.4em;
    width: 690px;
    height: 46px;
    padding: 0 15px 0 15px;
    color: #333e48;
    font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
}
.im-2 {
    background-color: #ffc700;
    float: right;
    font-size: 16px !important;
    line-height: 2.5rem !important;
    margin: 0px !important;
    padding: 0 16px !important;
    border-color: transparent;
    border-style: solid;
    font-family: Lato,Helvetica,Arial,sans-serif;
    font-weight: 300;
    display: inline-block;
    overflow: hidden;
    height: 44px;
    text-align: center;
    border-radius: 5px;
    border-width: 2px;
}
.i {
    font-family: "Font Awesome 5 Pro";
    font-weight: 900;
    color: #586269;
    font-size: 12px;
    margin-right: 12px;
}
.l {
    border-bottom: none;
    color: inherit;
    font-weight: 700;
}
li .o {
    padding: 15px;
    border-right: 1px solid #586269;
    align-items: center;
    margin-left: 0;
    list-style-position: inside;
    flex-direction:row;
    max-inline-size: 192px;
    float: left;
    background-color: #333e48 !important;
    
}
.community {
    background-color: #333e48 !important;
    height: 190px;
    z-index: 0;
    position: relative;
    top: 1614px;
    color: #fff;
   

}
.o-1 {
    max-width: 61.875px;
}
.o-3 {
    min-width: 20%;
    margin: 0 15px 0 0;
    font-size: 1.625rem;
    line-height: 1.3;
    flex: 1;
    font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
    font-style: normal;
    font-weight: 300;
    text-align: center;
}
ul {
    flex-wrap: nowrap;
    padding: 15px 0;
    font-size: 1.125rem;
    line-height: 1.5;
}
.driver {
    position: relative;
}
h5 {
    color: #333e48;
    font-size: 48px;
    font-weight: 700;
    line-height: 42px;
    margin: 0 0 64px;
    text-align: center;
    display: block;
    font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
    font-style: normal;
    position: absolute;
    top:2000px;
    left: 360px;

}
.v-1 {
    width: 990px;
    height: 557px; 
}
.v-1 img {
    width: 990px;
    height: 557px;
}
.video {
    padding: 0 0 15px;
    margin-bottom: 25px;
    position: absolute;
    top: 2090px;
    left: 280px;
}
.v-2 {
    padding: 20px 30px 10px 30px;
    width: 797.333px;
    height: 70px;
}
h6 {
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    line-height: 1;
    margin: 0;
    text-align: left;
    display: block;
    font-style: normal;
    width: 797.333px;
    padding-left: 30px;
}
.h6-1 {
    color: #fff;
    font-size: 28px;
    font-weight: 300;
    line-height: 1.5;
    margin: 0;
    text-align: left;
    display: block;
    font-style: normal;
    width: 797.333px;
    padding-left: 30px;
}
.s-1 {
    background-color: #0091bd !important;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    opacity: .9;
    position: absolute;
    z-index: -1;
    width: 990px;
    height: 100px;
}
.m-1 img {
    left: calc(50% - 150px);
    width: calc(50% + 150px);
    background-position: center left;
    background-size: cover;
    display: flex;
    height: 1389.330px;
    position: absolute;
    top: 2700px;
    left: 561px;
    z-index: 0;
    align-items: center;
    background-repeat: no-repeat;

}
.m-1-1  {
    background-color: #333e48 !important;
    width: 520px;
    height: 1389.330px;
    position: absolute;
    top: 2700px;
    left: 90.999px;
}

.m-2 {
    padding-top: 230px;
    position: absolute;
    top: 2700px;
    left: 190px;
}
.m-2-3 {
    padding: 45px 74px 45px 0px;
}
.m-2-4 {
    text-align: left;
    display: block;
    font-size: 30px;
    font-weight: 300;
    line-height: 1.25;
    margin: 0 0 10px;
    color: #fff;

}
.m-2-5 {
    font-size: 48px;
    line-height: 1.25;
    margin: 0 0 60px;
    display: block;
    text-align: left;
    width: 390px;
    height: 175px;
    color: #fff;
    font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
}
.m-2-6 {
    color: #fff;
    width: 256px;
    height: 156px;
    text-align: left;
    margin-bottom: 30px;
}
.m-2-7 {
    margin-top: 0px;
    text-align: left;
    font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
    width: 350px;
}
.m-2-8 {
    color: #00c1de;
    display: inline-flex;
    font-size: 20px;
    font-weight: 400;
}
.m-3-2 {
    color: inherit;
    font-size: 26px;
    font-weight: 700;
    padding: 0;
    text-align: left;
    margin: 0 0 35px;
    line-height: 1;
    display: block;
    color: #fff;
}
.m-3-3 {
    padding: 0 0 15px;
}
.m-3-4 {
    margin: 0 0 -15px;
}
.m-3-5 {
    margin-top: 125px;
    padding-bottom: 100px;
}
.m-3-6 {
    padding: 0 0 15px;
}
.m-3-7 {
    padding: 0 0 15px;
}
.img-1 img {
    width: 76px;
    height: 76px;
    text-align: center;
    padding: 40px 0 0 44px;
}
.img-1 {
    width: 165px;
    height: 155px;
    border-right-width: 1px;
    border-right-color: #dedede;
    border-right-style: solid;
    padding: 0;
    display: flex;
}
li, .y{
    list-style: none;
    flex: 1;
    padding-bottom: 0;
    padding-right: 0;
    width: auto;
    background-color: #fff;
    float: left;
}
.f-1 {
    width: 148px;
    height: 65px;
    border-right-width: 1px;
    border-right-color: #007ea5;
    border-right-style: solid;
    font-size: 16px;
    background-color: #0091bd;
    color: #fff;
    cursor: pointer;
    font-weight: 700;
    overflow: hidden;
    padding: 0 8px;
    text-align: center;
    white-space: nowrap;
    align-items: center;
}
.img-2 img {
    width: 76px;
    height: 64px;
    padding: 40px 0 0 44px;
}
.img-2 {
    border-right-width: 1px;
    border-right-color: #dedede;
    border-right-style: solid;
    height: 155px;
    width: 164px;
    padding: 0;
    display: flex;
}
.f-2 {
    width: 148px;
    height: 65px;
    border-right-width: 1px;
    border-right-color: #007ea5;
    border-right-style: solid;
    font-size: 16px;
    background-color: #0091bd;
    color: #fff;
    cursor: pointer;
    font-weight: 700;
    overflow: hidden;
    padding: 0 8px;
    text-align: center;
    white-space: nowrap;
    align-items: center;
}



















































































































.m{
    background-color: aquamarine;
    width: 99px;
    height:99px;
    position: absolute;
    top: 10000px;

}